<ion-card>
  <ion-card-header>Add New Note</ion-card-header>
  <ion-card-content>
    <form [formGroup]="form">
      <ion-item>
        <ion-label floating>Title</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Note</ion-label>
        <ion-textarea formControlName="content"></ion-textarea>
      </ion-item>
      <ion-button
        color="primary"
        [disabled]="!form.valid"
        (click)="addNote()">Add Note</ion-button>
    </form>
  </ion-card-content>
</ion-card>
